body
{
   text-align: center;
}

.heading button{
    float: right;
    border: 1px solid white;
    text-align: center;
}

.heading{
    width: 100%;
}

video{
    background-size: cover;
    background-position: center;
    padding: 25px;
}